#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

export DH_COMPAT=2

pwd:=$(shell pwd)
cfg:=

build: build-stamp
build-stamp:
	dh_testdir

	#test -x autogen.sh && ./autogen.sh $(cfg) || ./configure $(cfg)
	
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	BUILD_ROOT=$(pwd)/debian/tmp make install

	[ ! -d $(pwd)/debian/tmp/etc/init.d/ ] && \
	  mkdir -p $(pwd)/debian/tmp/etc/init.d/
	install -c -m 755 ipvsadm.sh $(pwd)/debian/tmp/etc/init.d/ipvsadm

	dh_movefiles --source=debian/tmp

binary-indep: build install

binary-arch: build install
	dh_testversion 2.0
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
